# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit
.streamlit/secrets.toml

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db